<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h2>HTML Form</h2>

		<form action="/addUser" method="post">
            <h1>Form</h1>
			<label>Username:</label><br />
			<input type="text" name="username" /><br />

			<label>Email:</label><br />
			<input type="email" name="email" /><br />

			<label>Password:</label><br />
			<input type="password" name="password" /><br /><br />

			<input type="submit" value="sign in" />
		</form>
	</body>
</html>
